/*-----------------------start header-------------------*/
.container {
    width: 1440px;
    margin: auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: #222222;
}

.wrapper-header {
    background-color: #333;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.logo img {
    width: 30px;
    height: auto;
}

.header-icons {
    display: flex;
    align-items: center;
}

.icon span {
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.header-icons .icon {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 25px;
    padding: 5px;
}

.icon {
    position: relative; /* Để hiển thị giỏ hàng ở vị trí đúng */
    cursor: pointer; /* Thay đổi con trỏ khi di chuột qua biểu tượng */
}

.icon a {
    color: white;
}

.cart-list {
    display: none; /* Ẩn giỏ hàng mặc định */
    position: absolute; /* Để định vị giỏ hàng so với icon */
    top: 100%; /* Đặt giỏ hàng ngay bên dưới icon */
    right: 0; /* Đặt giỏ hàng ở bên phải icon */
    background-color: white; /* Màu nền cho giỏ hàng */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng cho giỏ hàng */
    z-index: 1; /* Đảm bảo giỏ hàng ở trên các phần tử khác */
    padding: 10px; /* Khoảng cách bên trong giỏ hàng */
    border-radius: 4px; /* Bo góc cho giỏ hàng */
    min-width: 400px;
}

.checkout {
    padding: 10px 20px 10px 20px;
    background: #555555;
    color: #f4f4f4;
    min-width: 70%;
    font-size: 22px;
    cursor: pointer;
    border: none;
    font-weight: 700;
}

.checkout:hover {
    background: #333;
}

.cart-list.open {
    display: block; /* Hiện giỏ hàng khi trạng thái là open */
}

.cart-list ul {
    list-style: none; /* Bỏ dấu đầu dòng cho danh sách */
    padding: 0; /* Bỏ khoảng cách bên trong cho danh sách */
    margin: 0; /* Bỏ khoảng cách bên ngoài cho danh sách */
}

.cart-list li {
    margin-bottom: 5px;
    color: #333; /* Khoảng cách giữa các sản phẩm trong giỏ hàng */
    font-size: 20px;
}


.header-icons .icon:hover {
    background-color: #555;
    border-radius: 5px;
}

.wrapper-user {
    position: relative;
}

.customer-dropdown {
    position: absolute;
    top: 40px; /* Điều chỉnh vị trí của dropdown */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Đảm bảo dropdown nằm trên các phần khác */
    border-radius: 5px;
    width: 170px;
}

.customer-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.customer-dropdown ul li {
    margin: 0;
    cursor: pointer;
}

.customer-dropdown ul li a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #333;
    padding: 10px;
    transition: background-color 0.3s;
}

.customer-dropdown ul li a i {
    width: 20px;
    text-align: center;
    margin-right: 5px;
}

.customer-dropdown ul li a:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
}

/*------------------------End header-----------------------*/


/*------------------------ start Footer-----------------------*/
/* Footer tổng thể */
.footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #ff6347;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #222;
    font-size: 14px;
    border-top: 1px solid #555;
}


/*------------------------ end Footer-----------------------*/

/*------------------------ start Login-----------------------*/
login-container {
    max-width: 400px; /* Đặt chiều rộng tối đa cho form */
    border: 1px solid #ccc; /* Đường viền xung quanh form */
    border-radius: 5px; /* Bo góc */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    background-color: #f4f4f4; /* Màu nền trắng */
}

/*----------------------- Heading -----------------------*/
.login-container h1 {
    font-size: 24px; /* Kích thước chữ */
    margin-bottom: 30px; /* Khoảng cách dưới tiêu đề */
    color: #333; /* Màu chữ */
}

.form-login {
    margin: auto;
    margin-bottom: 15px;
    width: 500px;
}

.form-group label {
    text-align: left;
    display: block; /* Hiển thị label dưới dạng khối */
    margin: 10px 0px 10px 5px; /* Khoảng cách dưới label */
    font-size: 14px; /* Kích thước chữ label */
    color: #555; /* Màu chữ label */
}

.form-group input {
    width: 100%; /* Đặt chiều rộng bằng 100% */
    padding: 10px; /* Padding cho input */
    border: 1px solid #ccc; /* Đường viền cho input */
    border-radius: 4px; /* Bo góc cho input */
    font-size: 14px; /* Kích thước chữ trong input */
    box-sizing: border-box; /* Bao gồm padding và border trong chiều rộng */
}

.form-group input:focus {
    border-color: #888484; /* Màu viền khi input được focus */
    outline: none; /* Ẩn outline mặc định */
}

/*----------------------- Button -----------------------*/
button[type="submit"] {
    padding: 10px; /* Padding cho nút */
    background-color: #333; /* Màu nền cho nút */
    color: white; /* Màu chữ */
    border: none; /* Ẩn đường viền */
    border-radius: 4px; /* Bo góc cho nút */
    font-size: 16px; /* Kích thước chữ trong nút */
    cursor: pointer; /* Hiển thị con trỏ khi hover */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu khi hover */
    width: 140px;
    margin: 20px 20px 30px 0px;
}

button[type="submit"]:hover {
    background-color: #000000; /* Màu nền khi hover */
}

.form-btn {
    text-align: left;
    margin: 0;
    padding: 0;
}

/*------------------------ end Login-----------------------*/

/*------------------------ start user-----------------------*/
.content-user {
    display: flex;
}

.sider-bar {
    width: 15%;
    border: 1px solid #dddddd;
    margin: 0;
}

.box {
    height: 100px;
    background: #f4f4f4;
}

.sider-bar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    text-align: left;
}

.sider-bar ul li {
    display: inline;
    cursor: pointer;
    padding: 10px 0px 10px 20px;
    box-sizing: border-box;
    width: 100%;
    font-weight: 500;
}

.sider-bar ul li:hover {
    background: #dddddd;
}

.content {
    margin: auto;
    width: 90%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.content span {
    color: #333333;
    font-weight: 500;
    font-size: 17px;
}

.content-cart {
    text-align: left;
    margin: 10px 10px 10px 20px;
}

.d-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-container {
    display: flex; /* Sử dụng flexbox để căn chỉnh */
    align-items: center; /* Căn giữa theo chiều dọc */
    margin: 10px 0; /* Thêm khoảng cách giữa các phần tử */
    color: #333;
}

#deleteicon {
    color: #333333;
}

.qty-label {
    font-weight: bold; /* Đậm chữ 'Qty' */
    margin-right: 10px; /* Khoảng cách giữa label và input */
}

.qty-input {
    width: 50px; /* Chiều rộng của input */
    height: 30px; /* Chiều cao của input */
    padding: 5px; /* Khoảng đệm bên trong */
    border: 1px solid #ccc; /* Đường viền */
    border-radius: 5px; /* Bo tròn các góc */
    text-align: center; /* Căn giữa văn bản trong input */
    font-size: 14px; /* Kích thước chữ */
    color: #333; /* Màu chữ */
    background-color: #f9f9f9; /* Màu nền */
}

.qty-input:read-only {
    background-color: #e9ecef; /* Màu nền khác cho input khi readOnly */
}

/*------------------------ end user-----------------------*/
/*------------------------ start cart-----------------------*/

.order-actions a {
    color: #333333;
}

.content-cart .content:hover {
    background: #f4f4f4;
}

.content-cart {
    height: 350px;
    overflow: auto;
}

.order-actions a :hover {
    background: #333333;
    color: white;
}

/*------------------------ end cart-----------------------*/

/*------------------------ start Responsive-----------------------*/
/*------------------------ end Responsive-----------------------*/